<% if @comment.errors.any? %>
  <h3>Please correct these problems:</h3>
  <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @comment do |f| %>
  <%= f.label :text %>
  <%= f.text_field :text %>
  <%= f.label :story_id %>
  <%= f.text_field :story_id %>
  <%= f.submit %>
<% end %>